# Apa itu Seaborn?

- Seaborn adalah library yang dapat dipakai utnuk membuat grafik statistik.


- Seaborn dibangun berdasarkan Matplotlib dan terintegrasi dengan data struktur pandas.


- Dokumentasi: https://seaborn.pydata.org/introduction.html

# Perbedaan Seaborn dengan Matplotlib

1. Kegunaan
    - Matplotlib: untuk plotting sederhana
    - Seaborn: tersedia pola visualisasi yang lebih bervariasi. Difokuskan untuk visualisasi statistik.
    
    
2. Visualisasi
    - Matplotlib: terintegrasi dengan NumPy dan Pandas, mirip dengan plotting command pada MATLAB.
    - Seaborn: lebih terintegrasi dengan Pandas. Lebih fokus pada arti dari elemen dalam plot daripada bagaimana menggambarkannya.


3. Data Frame dan Arrays
    - Matplotlib: bekerja dengan data frame dan arrays. Bisa memanggil `plot()` tanpa parameter.
    - Seaborn: bekerja dengan keseluruhan dataset dan lebih intuitif dari Matplotlib. Memanggil `plot()` harus menggunakan parameter


4. Flexibilitas
    - Matplotlib: sangat customizable
    - Seaborn: menyediakan tema-tema default


5. Use case
    - Matplotlib: customizable plotting
    - Saborn: plotting statistikal

# Import Data dengan Pandas

- Pada course ini, data yang dipakai akan menggunakan fungsi `load_dataset()` untuk mengakses contoh dataset secara cepat. Dataset yang diunduh menggunakan `load_dataset()` berupa file `.csv` yang kemudian dapat direpresentasikan dalam bentuk objek pandas.


- Objek pandas juga dapat diunggah secara manual menggunakan `pandas.read_csv()`.



- Gunakan `sns.get_dataset_names()` untuk melihat contoh dataset yang dapat diunduh menggunakan `load_dataset()`

In [ ]:
import seaborn as sns
sns.get_dataset_names()

# Struktur Data yang Diterima Seaborn

- Seaborn mendukung beberapa format dataset yang direpresentasikan dengan objek dari library `pandas` dan `numpy` serta list dan dictionary.


- Ada dua jenis bentuk dataset yang diterima oleh Seaborn:
    1. Long-form data
    2. Wide-form data


- Long-form data memiliki karakteristik:
    1. Setiap variabel adalah sebuah kolom
    2. Setiap observasi adalah sebuah baris


- Wide-form data berkarakteristik seperti data yang sering dilihat di spreadsheet dimana kolom dan baris memuat tingkatan variabel yang berbeda.


Dokumentasi: https://seaborn.pydata.org/tutorial/data_structure.html


<img src="https://seaborn.pydata.org/_images/data_structure_19_0.png" alt="Drawing" width= 500px;/>

[Source](https://seaborn.pydata.org/_images/data_structure_19_0.png)

In [2]:
# Contoh Long-form data

flights = sns.load_dataset("flights")
flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [3]:
# Contoh Wide-form data

flights_wide = flights.pivot(index="year", columns="month", values="passengers")
flights_wide.head()

month  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
year
1949   112  118  132  129  121  135  148  148  136  119  104  118
1950   115  126  141  135  125  149  170  170  158  133  114  140
1951   145  150  178  163  172  178  199  199  184  162  146  166
1952   171  180  193  181  183  218  230  242  209  191  172  194
1953   196  196  236  235  229  243  264  272  237  211  180  201